@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:wght@300;400;500;700&display=swap');
* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

header {
    .main_container {
        height: 127px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        width: 213px;
        height: 61px;
        background: url(/images/logo.svg);
        background-size: cover;
    }
    .addresses {
        line-height: 25px;
        font-weight: 500;
        @media(max-width: 800px) {
            display: none;
        }
        p {
            display: flex;
            align-items: center;
        }
        .iconify {
            margin-right: 8px;
            margin-left: -5px;
            display: block;
        }
    }
    .number {
        font-size: 30px;
        line-height: 1.5;
        font-weight: bold;
        cursor: pointer;
        @media(max-width: 1100px) {
            display: none;
        }
    }
    button.callback {
        width: auto;
        max-width: 275px;
        background: #BAF207;
        border: none;
        font-size: 16px;
        padding: 16px 32px;
        font-weight: 500;
        line-height: 1.5;
        cursor: pointer;
        transition: background.2s;
        @media(max-width: 790px) {
            display: none;
        }
        &:hover {
            background: #b1e409;
        }
        &:active {
            background: #a4d309;
        }
    }
    .link-line {
        height: 63px;
        background: #808080;
        width: 100%;
        transition: height.4s;
        @media(max-width: 790px) {
            height: 0;
            flex-direction: column;
            background: white;
            overflow: hidden;
            &.active {
                height: 320px;
                border-bottom: 1px solid #eee;
            }
        }
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 63px;
            @media(max-width: 790px) {
                flex-direction: column;
            }
        }
        a {
            display: block;
            text-transform: uppercase;
            color: white;
            text-decoration: none;
            font-weight: 500;
            line-height: 63px;
            padding-left: 15px;
            padding-right: 15px;
            position: relative;
            &:hover {
                background: #eee;
                color: #333;
                &>ul {
                    display: block;
                }
            }
            @media(max-width: 790px) {
                color: #323232;
                width: 100%;
                &:hover {
                    & ul {
                        display: none;
                    }
                }
            }
            ul {
                position: absolute;
                width: calc(100% + 30px);
                background: #eee;
                color: #333;
                padding-left: 15px;
                padding-right: 15px;
                margin-left: -15px;
                display: none;
                >li {
                    height: 50px;
                    list-style: none;
                    padding-left: 15px;
                    padding-right: 15px;
                    margin-left: -15px;
                    padding-bottom: 15px;
                    width: 100%;
                    position: relative;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                    &:first-child {
                        border-top: 1px solid rgba(0, 0, 0, 0.5);
                    }
                    &.more {
                        &::before {
                            content: "\276F";
                            position: absolute;
                            right: 15px;
                        }
                    }
                    &:hover {
                        background: rgb(247, 247, 247);
                    }
                    &:hover {
                        ul {
                            display: block;
                        }
                    }
                    ul {
                        margin-left: calc(100% - 15px);
                        margin-top: -64px;
                        display: none;
                        li {
                            height: 30px;
                            line-height: 45px;
                        }
                    }
                }
            }
        }
    }
    .openMenu {
        width: 28px;
        height: 24px;
        flex-direction: column;
        justify-content: space-between;
        display: none;
        @media(max-width: 790px) {
            display: flex;
        }
        span {
            width: 100%;
            border-top: 3px solid #000;
            transition: transform.4s;
        }
        &.active {
            span {
                &.sl {
                    display: none;
                }
                &.fl {
                    transform: rotate(45deg) translate(0px, 4px);
                }
                &.tl {
                    transform: rotate(-45deg) translate(10px, -15px);
                }
            }
        }
    }
}