@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:wght@300;400;500;700&display=swap");
* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    margin: 0 auto;
    height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.post {
    .title {
        span {
            font-size: 14px;
            color: #929292;
            font-weight: bold;
            text-align: center;
            display: block;
            margin-bottom: 30px;
        }
        width: 100%;
        background-position: center !important;
        font-size: 18px;
        line-height: 1.5;
        text-align: center;
        max-width: 500px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .swiper-container {
        height: 500px;
        margin-bottom: 150px;
        margin-top: 50px;
    }
    .swiper-controller {
        top: calc(50% - 50px);
        right: unset;
        width: 100%;
        ._next {
            margin-left: auto;
        }
    }
}

.slider {
    overflow: hidden;
}

.slide-content {
    max-width: 450px;
    background: rgba(50, 50, 50, 0.9);
    align-items: center;
    justify-content: flex-end;
    padding: 20px 30px;
    font-size: 30px;
    line-height: 120%;
    color: #fff;
    position: absolute;
    top: 80px;
    right: 50px;
    text-align: right;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 40%);
    &.mini {
        font-size: 22px;
        text-align: center;
        @media (max-width: 680px) {
            font-size: 14px;
            top: 20px;
        }
    }
    ul {
        margin-top: 15px;
        text-align: left;
    }
    @media (max-width: 680px) {
        right: 15px;
        left: 15px;
        font-size: 16px;
    }
}

header {
    background: #d6d6d6;
    @media (max-width: 780px) {
        position: sticky;
        top: 0;
        z-index: 999;
    }
    .main_container {
        height: 127px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo {
        width: 213px;
        height: 127px;
        background: url(/images/logo.jpg) center;
        background-size: 100%;
    }
    .addresses {
        line-height: 25px;
        font-weight: 500;
        @media (max-width: 800px) {
            display: none;
        }
        p {
            display: flex;
            align-items: center;
        }
        .iconify {
            margin-right: 8px;
            margin-left: -5px;
            display: block;
        }
    }
    .number {
        font-size: 30px;
        line-height: 1.5;
        font-weight: bold;
        cursor: pointer;
        @media (max-width: 1100px) {
            display: none;
        }
    }
    button.callback {
        width: auto;
        max-width: 275px;
        background: #baf207;
        border: none;
        font-size: 16px;
        padding: 16px 32px;
        font-weight: 500;
        line-height: 1.5;
        cursor: pointer;
        transition: background.2s;
        @media (max-width: 790px) {
            display: none;
        }
        &:hover {
            background: #b1e409;
        }
        &:active {
            background: #a4d309;
        }
    }
    .openMenu {
        width: 28px;
        height: 24px;
        flex-direction: column;
        justify-content: space-between;
        display: none;
        @media (max-width: 790px) {
            display: flex;
        }
        span {
            width: 100%;
            border-top: 3px solid #000;
            transition: transform.4s;
        }
        &.active {
            span {
                &.sl {
                    display: none;
                }
                &.fl {
                    transform: rotate(45deg) translate(0px, 4px);
                }
                &.tl {
                    transform: rotate(-45deg) translate(10px, -15px);
                }
            }
        }
    }
}

.first_slider {
    position: relative !important;
    .swiper-container {
        height: 100%;
    }
    .swiper-slide {
        height: 100%;
        width: 100%;
        background-size: cover !important;
        background-position: center !important;
    }
    .swiper {
        height: 100%;
    }
}

h1.title {
    text-transform: uppercase;
    font-size: 42px;
    color: #000;
    margin-bottom: 60px;
    @media (max-width: 360px) {
        font-size: 32px;
    }
}

.second_slide {
    margin-top: 120px;
    margin-bottom: 120px;
    .texts {
        display: flex;
        .lt {
            width: 60%;
        }
        .rt {
            width: 30%;
            margin-left: auto;
        }
        p {
            margin-bottom: 50px;
            font-size: 22px;
            line-height: 1.42;
        }
        @media (max-width: 996px) {
            flex-direction: column;
            .lt {
                width: 100%;
            }
            .rt {
                width: 100%;
                margin-left: 0;
            }
        }
    }
}

.third_slide {
    width: 100%;
    padding-top: 120px;
    padding-bottom: 120px;
    background: #fbfbfb;
    .images {
        display: flex;
        @media (max-width: 1250px) {
            flex-direction: column;
        }
    }
    .right_images {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        @media (max-width: 1250px) {
            margin-left: 0;
        }
    }
    .left_images {
        display: flex;
        flex-direction: column;
    }
    .double_images {
        display: flex;
        justify-content: space-between;
    }
    .third_slide-image {
        position: relative;
        background-size: 100%;
        cursor: pointer;
        user-select: none;
        @media (max-width: 1250px) {
            width: 100% !important;
            background-size: cover !important;
            background-position: center !important;
            margin-left: 0 !important;
        }
        &.img1 {
            width: 490px;
            height: 840px;
            background: url(/images/catalog/1.png) no-repeat;
        }
        &.img2 {
            width: 690px;
            height: 410px;
            margin-left: 20px;
            background: url(/images/catalog/2.png) no-repeat;
        }
        &.img3 {
            width: 690px;
            height: 410px;
            margin-left: 20px;
            background: url(/images/catalog/3.png) no-repeat;
            margin-top: 20px;
        }
        &.img4 {
            width: 692px;
            height: 400px;
            background: url(/images/catalog/4.png) no-repeat;
            margin-top: 20px;
        }
        &.img5 {
            width: 692px;
            height: 460px;
            background: url(/images/catalog/5.png) no-repeat;
            margin-top: 20px;
        }
        &.img6 {
            width: 309px;
            height: 316px;
            background: url(/images/catalog/6.png) no-repeat;
            margin-top: 20px;
            span {
                font-size: 26px;
            }
        }
        &.img7 {
            width: 364px;
            height: 316px;
            background: url(/images/catalog/7.png) no-repeat;
            margin-top: 20px;
            span {
                font-size: 26px;
            }
        }
        &.img8 {
            width: 487px;
            height: 680px;
            background: url(/images/catalog/8.png) no-repeat;
            margin-top: 20px;
        }
        &.img9 {
            width: 487px;
            height: 516px;
            background: url(/images/catalog/9.png) no-repeat;
            margin-top: 20px;
        }
        span {
            position: absolute;
            width: 100%;
            height: 80px;
            background: rgba(0, 0, 0, 0.5);
            text-align: center;
            text-transform: uppercase;
            color: white;
            font-size: 28px;
            line-height: 80px;
            top: calc(100% - 80px);
            font-weight: bold;
            @media (max-width: 460px) {
                font-size: 18px !important;
            }
            @media (max-width: 370px) {
                font-size: 14px !important;
            }
        }
    }
    @media (max-width: 1250px) {
        .double_images {
            .third_slide-image {
                width: 48% !important;
            }
        }
    }
    @media (max-width: 733px) {
        .double_images {
            flex-direction: column !important;
            .third_slide-image {
                width: 100% !important;
            }
        }
    }
}

.fourth_slide {
    margin-top: 120px;
    margin-bottom: 120px;
    .swiper-slide {
        width: unset !important;
        margin-right: 15px;
    }
    h1.title {
        display: flex;
        @media (max-width: 480px) {
            flex-direction: column;
        }
        @media (max-width: 360px) {
            flex-direction: column;
        }
        .navCertificate {
            margin-left: auto;
            align-items: center;
            display: flex;
            user-select: none;
            @media (max-width: 360px) {
                margin-left: 0 auto;
            }
            .certificate {
                line-height: 51px;
                align-items: center;
                margin-left: 30px;
                font-size: 32px;
                cursor: pointer;
                &._prev {
                    transform: rotate(180deg);
                }
            }
        }
    }
}

.swiper-container {
    overflow: hidden;
}

.swiper-button-disabled {
    opacity: 0.5;
}

footer {
    background: #2d2d2d;
    min-height: 132px;
    padding-top: 66px;
    padding-bottom: 66px;
    .logo {
        width: 213px;
        height: 61px;
        background: url(/images/logo_footer.svg) no-repeat;
        background-size: cover;
        @media (max-width: 1200px) {
            margin: 0 auto;
        }
    }
    .container {
        display: flex;
        justify-content: space-between;
        @media (max-width: 1200px) {
            flex-direction: column;
            text-align: center;
            align-items: center;
            >div {
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
    }
    .footer-column {
        color: white;
        fill: white;
        p {
            font-size: 20px;
            line-height: 2.08;
            font-weight: lighter;
            letter-spacing: -1%;
            margin-top: 16px;
        }
        a {
            text-transform: uppercase;
            color: white;
            text-decoration: none;
            font-size: 16px;
            font-weight: lighter;
            display: block;
            margin-bottom: 13px;
            &:hover {
                text-decoration: underline;
            }
            &.title {
                font-weight: 500;
            }
        }
        &._second {
            display: flex;
            @media (max-width: 580px) {
                flex-direction: column;
            }
            .second-col {
                margin-left: 20px;
            }
        }
    }
}

.breadcrumb {
    margin-top: 20px;
    a {
        text-decoration: none;
        font-size: 16px;
        color: black;
        &:first-child {
            font-weight: lighter;
            color: rgba(0, 0, 0, 0.5);
            &::before {
                content: "";
            }
        }
        &::before {
            content: ">";
            margin-left: 5px;
            margin-right: 10px;
        }
    }
}

.filters {
    margin-top: 38px;
    width: 100%;
    display: flex;
    @media (max-width: 480px) {
        flex-direction: column;
    }
    .search {
        margin-right: 10px;
        margin-left: auto;
        display: flex;
        max-width: 285px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        @media (max-width: 480px) {
            margin-right: 0;
            width: 100%;
        }
        input {
            border: none;
            height: 40px;
            border-radius: 5px;
            padding-left: 20px;
            width: calc(100% - 60px);
            font-size: 16px;
        }
        button {
            border: none;
            width: 40px;
            border-radius: 0px 5px 5px 0px;
            margin-left: auto;
            cursor: pointer;
            border-left: 1px solid rgba(0, 0, 0, 0.5);
        }
    }
    .filter {
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.5);
        height: 40px;
        display: flex;
        align-items: center;
        font-size: 16px;
        @media (max-width: 480px) {
            margin-top: 20px;
        }
        p {
            color: rgba(0, 0, 0, 0.3);
            margin-right: 5px;
            margin-left: 10px;
        }
        select {
            font-size: 16px;
            height: 40px;
            border: none;
            border-radius: 5px;
            max-width: 150px;
            margin-right: 10px;
        }
    }
}

.products {
    margin-top: 86px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .product {
        max-width: 376px;
        margin-bottom: 80px;
        min-width: 30%;
        img {
            max-width: 100%;
            max-height: 223px;
        }
        &.none {
            img {
                opacity: 0.5;
            }
        }
        p.title {
            font-weight: 500;
            font-size: 20px;
            margin-top: 30px;
        }
        p.description,
        p.option {
            line-height: 1.42;
            font-size: 16px;
            margin-top: 20px;
        }
    }
}

img {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    display: block;
}

.imageSwiper {
    height: 392px;
    position: relative;
    .swiper-wrapper {
        max-height: 100%;
        .swiper-slide {
            max-height: 100%;
            display: flex;
            align-items: center;
            overflow: hidden;
        }
    }
}

.product_container {
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
    max-width: 1160px;
    margin: 0 auto;
    @media (max-width: 792px) {
        flex-direction: column;
    }
    .left_images {
        width: 33%;
        position: relative;
        img {
            max-width: 100%;
        }
    }
    .texts {
        width: 65%;
        margin-left: auto;
        @media (max-width: 792px) {
            width: 100%;
            margin-left: unset;
            margin-top: 50px;
        }
        h1 {
            color: #363840;
            font-size: 36px;
            font-weight: 400;
            font-family: "Roboto";
        }
        p {
            font-size: 14px;
            line-height: 1.55;
            font-weight: lighter;
            margin-bottom: 10px;
            margin-top: 5px;
        }
    }
}

table.params {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    font-size: 14px;
    color: #323232;
    tr {
        display: flex;
        td {
            padding: 20px;
            font-weight: lighter;
            &:last-child {
                margin-left: auto;
                text-align: center;
            }
        }
        &:first-child {
            background: #a8c83d !important;
            font-weight: 500;
        }
        &:nth-child(odd) {
            background: #eee;
            border-top: 1px solid #d9d9d9;
            border-bottom: 1px solid #d9d9d9;
        }
    }
}

.controllers {
    display: flex;
    align-items: center;
    position: absolute;
    width: calc(100% - 30px);
    left: auto;
    right: auto;
    margin-left: 15px;
    top: 50%;
    .next_slide,
    .prev_slide {
        line-height: 27px;
        font-size: 32px;
        z-index: 9999;
        cursor: pointer;
        user-select: none;
    }
    .prev_slide {
        transform: rotate(-180deg);
    }
    .next_slide {
        margin-left: auto;
        right: 0;
    }
}

.news {
    max-width: 760px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    .newsList {
        margin-top: 100px;
        .newsBlock {
            display: flex;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            padding-bottom: 30px;
            cursor: pointer;
            .img {
                width: 190px;
                height: 150px;
                margin-right: 40px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .text {
                p.title {
                    font-size: 20px;
                    font-weight: bold;
                }
                p.description {
                    font-size: 14px;
                    margin-top: 8px;
                }
                p.date {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 15px;
                    font-size: 10px;
                    letter-spacing: 1px;
                    color: rgba(0, 0, 0, 0.5);
                    margin-top: 15px;
                    font-weight: bold;
                }
            }
        }
    }
    h1 {
        font-weight: lighter;
        font-size: 32px;
        text-align: center;
    }
}

.swiper-controller {
    position: absolute;
    right: 30px;
    z-index: 9;
    top: calc(100% - 128px);
    display: flex;
    .first_slider-button {
        cursor: pointer;
        width: 81px;
        height: 65px;
        margin-right: 20px;
        background: rgba(255, 255, 255, 0.5);
        text-align: center;
        font-size: 38px;
        line-height: 65px;
        user-select: none;
    }
    ._prev {
        transform: rotate(180deg);
    }
}

.link-line {
    height: 63px;
    background: #808080;
    width: 100%;
    transition: height.4s;
    position: sticky;
    top: 0;
    z-index: 9999;
    @media (max-width: 790px) {
        height: 0;
        flex-direction: column;
        background: white;
        overflow: hidden;
        &.active {
            height: 320px !important;
            border-bottom: 1px solid #eee;
        }
    }
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 63px;
        @media (max-width: 790px) {
            flex-direction: column;
            height: 320px;
        }
    }
    .link {
        display: block;
        text-transform: uppercase;
        color: white;
        text-decoration: none;
        font-weight: 500;
        line-height: 63px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        cursor: pointer;
        a {
            text-decoration: none;
            color: currentColor;
            z-index: 999999999999999999;
            display: block;
            width: 100%;
        }
        &:hover {
            background: #eee;
            color: #333;
            &>ul {
                display: block;
            }
        }
        @media (max-width: 790px) {
            color: #323232;
            width: 100%;
            &:hover {
                & ul {
                    display: none;
                }
            }
        }
        ul {
            position: absolute;
            width: calc(100% + 30px);
            background: #eee;
            color: #333;
            padding-left: 15px;
            padding-right: 15px;
            margin-left: -15px;
            display: none;
            z-index: 999999;
            >li {
                height: 50px;
                list-style: none;
                padding-left: 15px;
                padding-right: 15px;
                margin-left: -15px;
                padding-bottom: 15px;
                width: 100%;
                position: relative;
                border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                &:first-child {
                    border-top: 1px solid rgba(0, 0, 0, 0.5);
                }
                &.more {
                    &::before {
                        content: "\276F";
                        position: absolute;
                        right: 15px;
                    }
                }
                &:hover {
                    background: rgb(247, 247, 247);
                }
                &:hover {
                    ul {
                        display: block;
                    }
                }
                ul {
                    margin-left: calc(100% - 15px);
                    margin-top: -64px;
                    display: none;
                    li {
                        height: 30px;
                        line-height: 45px;
                    }
                }
            }
        }
    }
}

.backcall {
    &:not(.active) {
        transform: translateX(1000%);
    }
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,
    0,
    0,
    0.5);
    z-index: 99999999999999999999999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform.6s;
    .content {
        width: 450px;
        max-width: calc(100% - 20px);
        padding: 30px;
        background: #fff;
        position: absolute;
        border-radius: 10px;
        .close-popup {
            position: absolute;
            right: 10px;
            top: 0px;
            font-size: 38px;
            cursor: pointer;
        }
        p {
            text-align: center;
            max-width: 300px;
            margin: 0 auto;
            margin-bottom: 15px;
            margin-top: 5px;
        }
        input {
            height: 40px;
            width: calc(100% - 15px);
            border-radius: 5px;
            border: 1px solid #eee;
            margin-bottom: 15px;
            padding-left: 15px;
        }
        button {
            height: 40px;
            width: 100%;
            color: white;
            border: none;
            border-radius: 5px;
            background: rgb(100, 100, 255);
            cursor: pointer;
            transition: transform.2s;
            &:active {
                transform: scale(0.97);
            }
        }
    }
}