@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:wght@300;400;500;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  margin: 0 auto;
  height: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.post .title {
  width: 100%;
  background-position: center !important;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 50px;
}

.post .title span {
  font-size: 14px;
  color: #929292;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-bottom: 30px;
}

.post .swiper-container {
  height: 500px;
  margin-bottom: 150px;
  margin-top: 50px;
}

.post .swiper-controller {
  top: calc(50% - 50px);
  right: unset;
  width: 100%;
}

.post .swiper-controller ._next {
  margin-left: auto;
}

.slider {
  overflow: hidden;
}

.slide-content {
  max-width: 450px;
  background: rgba(50, 50, 50, 0.9);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px 30px;
  font-size: 30px;
  line-height: 120%;
  color: #fff;
  position: absolute;
  top: 80px;
  right: 50px;
  text-align: right;
  -webkit-box-shadow: 0 0 20px 0 black;
          box-shadow: 0 0 20px 0 black;
}

.slide-content.mini {
  font-size: 22px;
  text-align: center;
}

@media (max-width: 680px) {
  .slide-content.mini {
    font-size: 14px;
    top: 20px;
  }
}

.slide-content ul {
  margin-top: 15px;
  text-align: left;
}

@media (max-width: 680px) {
  .slide-content {
    right: 15px;
    left: 15px;
    font-size: 16px;
  }
}

header {
  background: #d6d6d6;
}

header .main_container {
  height: 127px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  width: 213px;
  height: 61px;
  background: url(/images/logo.jpg) center;
  background-size: 100%;
}

header .addresses {
  line-height: 25px;
  font-weight: 500;
}

@media (max-width: 800px) {
  header .addresses {
    display: none;
  }
}

header .addresses p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .addresses .iconify {
  margin-right: 8px;
  margin-left: -5px;
  display: block;
}

header .number {
  font-size: 30px;
  line-height: 1.5;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 1100px) {
  header .number {
    display: none;
  }
}

header button.callback {
  width: auto;
  max-width: 275px;
  background: #BAF207;
  border: none;
  font-size: 16px;
  padding: 16px 32px;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

@media (max-width: 790px) {
  header button.callback {
    display: none;
  }
}

header button.callback:hover {
  background: #b1e409;
}

header button.callback:active {
  background: #a4d309;
}

header .link-line {
  height: 63px;
  background: #808080;
  width: 100%;
  -webkit-transition: height 0.4s;
  transition: height 0.4s;
}

@media (max-width: 790px) {
  header .link-line {
    height: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: white;
    overflow: hidden;
  }
  header .link-line.active {
    height: 320px !important;
    border-bottom: 1px solid #eee;
  }
}

header .link-line .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 63px;
}

@media (max-width: 790px) {
  header .link-line .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 320px;
  }
}

header .link-line .link {
  display: block;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-weight: 500;
  line-height: 63px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  cursor: pointer;
}

header .link-line .link a {
  text-decoration: none;
  color: currentColor;
  z-index: 999999999999999999;
  display: block;
  width: 100%;
}

header .link-line .link:hover {
  background: #eee;
  color: #333;
}

header .link-line .link:hover > ul {
  display: block;
}

@media (max-width: 790px) {
  header .link-line .link {
    color: #323232;
    width: 100%;
  }
  header .link-line .link:hover ul {
    display: none;
  }
}

header .link-line .link ul {
  position: absolute;
  width: calc(100% + 30px);
  background: #eee;
  color: #333;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -15px;
  display: none;
  z-index: 999999;
}

header .link-line .link ul > li {
  height: 50px;
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -15px;
  padding-bottom: 15px;
  width: 100%;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

header .link-line .link ul > li:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

header .link-line .link ul > li.more::before {
  content: "\276F";
  position: absolute;
  right: 15px;
}

header .link-line .link ul > li:hover {
  background: #f7f7f7;
}

header .link-line .link ul > li:hover ul {
  display: block;
}

header .link-line .link ul > li ul {
  margin-left: calc(100% - 15px);
  margin-top: -64px;
  display: none;
}

header .link-line .link ul > li ul li {
  height: 30px;
  line-height: 45px;
}

header .openMenu {
  width: 28px;
  height: 24px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}

@media (max-width: 790px) {
  header .openMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header .openMenu span {
  width: 100%;
  border-top: 3px solid #000;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}

header .openMenu.active span.sl {
  display: none;
}

header .openMenu.active span.fl {
  -webkit-transform: rotate(45deg) translate(0px, 4px);
          transform: rotate(45deg) translate(0px, 4px);
}

header .openMenu.active span.tl {
  -webkit-transform: rotate(-45deg) translate(10px, -15px);
          transform: rotate(-45deg) translate(10px, -15px);
}

.first_slider {
  position: relative !important;
}

.first_slider .swiper-container {
  height: 100%;
}

.first_slider .swiper-slide {
  height: 100%;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
}

.first_slider .swiper {
  height: 100%;
}

h1.title {
  text-transform: uppercase;
  font-size: 42px;
  color: #000;
  margin-bottom: 60px;
}

@media (max-width: 360px) {
  h1.title {
    font-size: 32px;
  }
}

.second_slide {
  margin-top: 120px;
  margin-bottom: 120px;
}

.second_slide .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.second_slide .texts .lt {
  width: 60%;
}

.second_slide .texts .rt {
  width: 30%;
  margin-left: auto;
}

.second_slide .texts p {
  margin-bottom: 50px;
  font-size: 22px;
  line-height: 1.42;
}

@media (max-width: 996px) {
  .second_slide .texts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .second_slide .texts .lt {
    width: 100%;
  }
  .second_slide .texts .rt {
    width: 100%;
    margin-left: 0;
  }
}

.third_slide {
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
  background: #FBFBFB;
}

.third_slide .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1250px) {
  .third_slide .images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.third_slide .right_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
}

@media (max-width: 1250px) {
  .third_slide .right_images {
    margin-left: 0;
  }
}

.third_slide .left_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.third_slide .double_images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.third_slide .third_slide-image {
  position: relative;
  background-size: 100%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1250px) {
  .third_slide .third_slide-image {
    width: 100% !important;
    background-size: cover !important;
    background-position: center !important;
    margin-left: 0 !important;
  }
}

.third_slide .third_slide-image.img1 {
  width: 490px;
  height: 840px;
  background: url(/images/catalog/1.png) no-repeat;
}

.third_slide .third_slide-image.img2 {
  width: 690px;
  height: 410px;
  margin-left: 20px;
  background: url(/images/catalog/2.png) no-repeat;
}

.third_slide .third_slide-image.img3 {
  width: 690px;
  height: 410px;
  margin-left: 20px;
  background: url(/images/catalog/3.png) no-repeat;
  margin-top: 20px;
}

.third_slide .third_slide-image.img4 {
  width: 692px;
  height: 400px;
  background: url(/images/catalog/4.png) no-repeat;
  margin-top: 20px;
}

.third_slide .third_slide-image.img5 {
  width: 692px;
  height: 460px;
  background: url(/images/catalog/5.png) no-repeat;
  margin-top: 20px;
}

.third_slide .third_slide-image.img6 {
  width: 309px;
  height: 316px;
  background: url(/images/catalog/6.png) no-repeat;
  margin-top: 20px;
}

.third_slide .third_slide-image.img6 span {
  font-size: 26px;
}

.third_slide .third_slide-image.img7 {
  width: 364px;
  height: 316px;
  background: url(/images/catalog/7.png) no-repeat;
  margin-top: 20px;
}

.third_slide .third_slide-image.img7 span {
  font-size: 26px;
}

.third_slide .third_slide-image.img8 {
  width: 487px;
  height: 680px;
  background: url(/images/catalog/8.png) no-repeat;
  margin-top: 20px;
}

.third_slide .third_slide-image.img9 {
  width: 487px;
  height: 516px;
  background: url(/images/catalog/9.png) no-repeat;
  margin-top: 20px;
}

.third_slide .third_slide-image span {
  position: absolute;
  width: 100%;
  height: 80px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-size: 28px;
  line-height: 80px;
  top: calc(100% - 80px);
  font-weight: bold;
}

@media (max-width: 460px) {
  .third_slide .third_slide-image span {
    font-size: 18px !important;
  }
}

@media (max-width: 370px) {
  .third_slide .third_slide-image span {
    font-size: 14px !important;
  }
}

@media (max-width: 1250px) {
  .third_slide .double_images .third_slide-image {
    width: 48% !important;
  }
}

@media (max-width: 733px) {
  .third_slide .double_images {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .third_slide .double_images .third_slide-image {
    width: 100% !important;
  }
}

.fourth_slide {
  margin-top: 120px;
  margin-bottom: 120px;
}

.fourth_slide .swiper-slide {
  width: unset !important;
  margin-right: 15px;
}

.fourth_slide h1.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  .fourth_slide h1.title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 360px) {
  .fourth_slide h1.title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.fourth_slide h1.title .navCertificate {
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 360px) {
  .fourth_slide h1.title .navCertificate {
    margin-left: 0 auto;
  }
}

.fourth_slide h1.title .navCertificate .certificate {
  line-height: 51px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  font-size: 32px;
  cursor: pointer;
}

.fourth_slide h1.title .navCertificate .certificate._prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.swiper-container {
  overflow: hidden;
}

.swiper-button-disabled {
  opacity: .5;
}

footer {
  background: #2d2d2d;
  min-height: 132px;
  padding-top: 66px;
  padding-bottom: 66px;
}

footer .logo {
  width: 213px;
  height: 61px;
  background: url(/images/logo_footer.svg) no-repeat;
  background-size: cover;
}

@media (max-width: 1200px) {
  footer .logo {
    margin: 0 auto;
  }
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  footer .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .container > div {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

footer .footer-column {
  color: white;
  fill: white;
}

footer .footer-column p {
  font-size: 20px;
  line-height: 2.08;
  font-weight: lighter;
  letter-spacing: -1%;
  margin-top: 16px;
}

footer .footer-column a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: lighter;
  display: block;
  margin-bottom: 13px;
}

footer .footer-column a:hover {
  text-decoration: underline;
}

footer .footer-column a.title {
  font-weight: 500;
}

footer .footer-column._second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 580px) {
  footer .footer-column._second {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .footer-column._second .second-col {
  margin-left: 20px;
}

.breadcrumb {
  margin-top: 20px;
}

.breadcrumb a {
  text-decoration: none;
  font-size: 16px;
  color: black;
}

.breadcrumb a:first-child {
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.5);
}

.breadcrumb a:first-child::before {
  content: "";
}

.breadcrumb a::before {
  content: ">";
  margin-left: 5px;
  margin-right: 10px;
}

.filters {
  margin-top: 38px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 480px) {
  .filters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.filters .search {
  margin-right: 10px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 285px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

@media (max-width: 480px) {
  .filters .search {
    margin-right: 0;
    width: 100%;
  }
}

.filters .search input {
  border: none;
  height: 40px;
  border-radius: 5px;
  padding-left: 20px;
  width: calc(100% - 60px);
  font-size: 16px;
}

.filters .search button {
  border: none;
  width: 40px;
  border-radius: 0px 5px 5px 0px;
  margin-left: auto;
  cursor: pointer;
  border-left: 1px solid rgba(0, 0, 0, 0.5);
}

.filters .filter {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

@media (max-width: 480px) {
  .filters .filter {
    margin-top: 20px;
  }
}

.filters .filter p {
  color: rgba(0, 0, 0, 0.3);
  margin-right: 5px;
  margin-left: 10px;
}

.filters .filter select {
  font-size: 16px;
  height: 40px;
  border: none;
  border-radius: 5px;
  max-width: 150px;
  margin-right: 10px;
}

.products {
  margin-top: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products .product {
  max-width: 376px;
  margin-bottom: 80px;
  min-width: 30%;
}

.products .product img {
  max-width: 100%;
  max-height: 223px;
}

.products .product.none img {
  opacity: .5;
}

.products .product p.title {
  font-weight: 500;
  font-size: 20px;
  margin-top: 30px;
}

.products .product p.description,
.products .product p.option {
  line-height: 1.42;
  font-size: 16px;
  margin-top: 20px;
}

img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: block;
}

.imageSwiper {
  height: 392px;
  position: relative;
}

.imageSwiper .swiper-wrapper {
  max-height: 100%;
}

.imageSwiper .swiper-wrapper .swiper-slide {
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.product_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: 1160px;
  margin: 0 auto;
}

@media (max-width: 792px) {
  .product_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.product_container .left_images {
  width: 33%;
  position: relative;
}

.product_container .left_images img {
  max-width: 100%;
}

.product_container .texts {
  width: 65%;
  margin-left: auto;
}

@media (max-width: 792px) {
  .product_container .texts {
    width: 100%;
    margin-left: unset;
    margin-top: 50px;
  }
}

.product_container .texts h1 {
  color: #363840;
  font-size: 36px;
  font-weight: 400;
  font-family: 'Roboto';
}

.product_container .texts p {
  font-size: 14px;
  line-height: 1.55;
  font-weight: lighter;
  margin-bottom: 10px;
  margin-top: 5px;
}

table.params {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  font-size: 14px;
  color: #323232;
}

table.params tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

table.params tr td {
  padding: 20px;
  font-weight: lighter;
}

table.params tr td:last-child {
  margin-left: auto;
  text-align: center;
}

table.params tr:first-child {
  background: #a8c83d !important;
  font-weight: 500;
}

table.params tr:nth-child(odd) {
  background: #eee;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.controllers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: calc(100% - 30px);
  left: auto;
  right: auto;
  margin-left: 15px;
  top: 50%;
}

.controllers .next_slide,
.controllers .prev_slide {
  line-height: 27px;
  font-size: 32px;
  z-index: 9999;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.controllers .prev_slide {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.controllers .next_slide {
  margin-left: auto;
  right: 0;
}

.news {
  max-width: 760px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.news .newsList {
  margin-top: 100px;
}

.news .newsList .newsBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 30px;
  cursor: pointer;
}

.news .newsList .newsBlock .img {
  width: 190px;
  height: 150px;
  margin-right: 40px;
}

.news .newsList .newsBlock .img img {
  width: 100%;
  height: 100%;
}

.news .newsList .newsBlock .text p.title {
  font-size: 20px;
  font-weight: bold;
}

.news .newsList .newsBlock .text p.description {
  font-size: 14px;
  margin-top: 8px;
}

.news .newsList .newsBlock .text p.date {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  font-size: 10px;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 15px;
  font-weight: bold;
}

.news h1 {
  font-weight: lighter;
  font-size: 32px;
  text-align: center;
}

.swiper-controller {
  position: absolute;
  right: 30px;
  z-index: 9;
  top: calc(100% - 128px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.swiper-controller .first_slider-button {
  cursor: pointer;
  width: 81px;
  height: 65px;
  margin-right: 20px;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-size: 38px;
  line-height: 65px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.swiper-controller ._prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
/*# sourceMappingURL=common.css.map */